.board {
  display: flex;
  width: 410px;
  height: 410px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.board > span {
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
}

.square {
  height: 120px;
  width: 120px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 2px solid #11998e;
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: #7FFFD4;
  color: #008CBA;
}

.square:hover {
  cursor: pointer;
  background-color: #80cd92;
}

.button {
  width: 100%;
  margin-top: 17px;
}

button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
}
button:hover{
  cursor: pointer;
}
